[submodule "words/ckb/wordlist"]
	path = words/ckb/wordlist
	url = https://github.com/DevelopersTree/KurdishResources.git
[submodule "words/ckb/allekok-poems"]
	path = words/ckb/allekok-poems
	url = https://github.com/allekok/allekok-poems
[submodule "words/ckb/allekok-downloads"]
	path = words/ckb/allekok-downloads
	url = https://github.com/allekok/allekok-downloads
[submodule "words/ckb/layik-kurdi"]
	path = words/ckb/layik-kurdi
	url = https://github.com/layik/kurdi.git
